{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% include 'partials/header.html.twig' %}


    <div id="contact-page" class="container">
        <div class="bg">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="title text-center">MENTIONS LÉGALES</h2>
                    <div class="col-sm-10 contact-info" style="margin-bottom: 50px">
                        <h3 class="h3" style="color: #FE980F">
                            <strong>INFORMATIONS SUR LA SOCIÉTÉ</strong>
                        </h3>

                        <p>
                            Ce présent site est la propriété de la société auto 9 Automobiles. Siège social : ZAC des Landiers Ouest -B.P.617,
                            73006 CHAMBERY CEDEX - Tél. : 04 79 68 33 33 - Fax. : 04 79 68 33 73 - Adresse de courrier électronique : webmaster@jeanlain.com
                            <br>
                            S.A. au capital de : 1 500 000 Euros Immatriculée au registre du commerce et des sociétés sous le
                            numéro : 788 058 410 00036 SIRET : 788 058 410 00036 - APE : 501 Z N° identifiant TVA : FR 62 788 058 410
                            <br>
                            Hébergeur : OVH – 2 rue Kellermann - 59100 Roubaix <br>
                            Infogérance : Eurower – 45 Avenue Marc Sangnier - 69100 Villeurbanne
                        </p>

                        <h3 class="h3" style="color: #FE980F">
                            <strong>CONFIDENTIALITÉ</strong>
                        </h3>

                        <p>
                            Les données personnelles et confidentielles que vous nous indiquez lorsque vous renseignez un formulaire sont exclusivement
                            destinées au traitement de votre demande. Ces données ne sauraient être cédées ou louées à des tiers.
                            <br>
                            Conformément aux dispositions de l'Art. 34 de la loi " Informatique et Libertés ", vous disposez d'un droit d'accès, de modification, de
                            rectification et de suppression des données qui vous concernent. Nous vous offrons la possibilité d'exercer ce droit en envoyant un mail
                            à webmaster@jeanlain.com.
                        </p>
                        <h3 class="h3" style="color: #FE980F">
                            <strong>ACCESSIBILITÉ</strong>
                        </h3>

                        <p>
                            Le site est par principe accessible aux utilisateurs 24/24h et 7/7j, sauf interruption, programmée ou non, pour des besoins de maintenance
                            ou en cas de force majeure.
                            <br>
                            En cas d’indisponibilité d’accès au site, celui-ci s’engage à faire son maximum afin d’en rétablir l’accès. Le site ne saurait être tenu
                            pour responsable de tout dommage, quelle qu’en soit la nature, résultant de son indisponibilité. En conséquence, l’utilisateur reconnaît
                            utiliser ces informations sous sa responsabilité exclusive.
                        </p>

                        <h3 class="h3" style="color: #FE980F">
                            <strong>PROPRIÉTÉ INTELLECTUELLE</strong>
                        </h3>

                        <p>
                            Les contenus de ce site (structure, design, texte, image, animation, logo) sont la propriété exclusive du Groupe Jean Lain. Toute représentation totale
                            ou partielle de ce site est soumise à l’autorisation préalable, écrite et expresse du Groupe Jean Lain.
                        </p>
                        <h3 class="h3" style="color: #FE980F">
                            <strong>DONNÉES PERSONNELLES</strong>
                        </h3>

                        <p>
                            D’une façon générale, l’utilisateur peut visiter le site jeanlain.com sur internet sans avoir à décliner son identité et à fournir des
                            informations personnelles. Toutefois, il est possible que le Groupe Jean Lain puisse demander des informations aux utilisateurs.
                            Par exemple, pour traiter une commande, établir une correspondance, fournir un abonnement, soumettre une candidature ou tout simplement
                            pour conclure une transaction ou offrir un meilleur service.
                        </p>
                        <h3 class="h3" style="color: #FE980F">
                            <strong>UTILISATION DES COOKIES</strong>
                        </h3>

                        <p>
                            Le site jean-lain.com peut éventuellement avoir recours aux techniques de « cookies » lui permettant de traiter des statistiques et des
                            informations sur le trafic, de faciliter la navigation et d’améliorer le service pour le confort de l’utilisateur. Conformément à la
                            législation européenne, le site du Groupe Jean Lain a mis à jour sa politique de confidentialité en matière de cookies . L’utilisateur est
                            libre d’accepter ou de refuser les cookies de tous les sites internet en modifiant les paramè tres de son navigateur internet.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div><!--/#contact-page-->


    {% include 'partials/footer.html.twig' %}

{% endblock %}
